@import "tailwindcss";

@theme inline {
  --color-primary: #C5A365;
  --color-primary-hover: #a8864a;
  --color-background-light: #ffffff;
  --color-background-dark: #050505;
  --color-surface-dark: #121212;
  --color-gold: #C5A028;
  --color-gold-light: #F9F5E6;

  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

body {
  background: var(--color-background-light);
  font-family: var(--font-body);
}